<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" verbose="1" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="reports.ExtentTestNGListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Test">
        <classes>
            <class name="tests.Filters.CategoryFilterTest"/>
            <class name="tests.AddToBasketTest"/>
        </classes>
    </test>
</suite>